<h1>Enrollments#edit</h1>
<p>Find me in app/views/enrollments/edit.html.erb</p>


<%= form_for [ @enrollment.course, @enrollment]  do |f| %>

  <% if @enrollment.errors.any? %>
      <div id="error_explanation">
        <h2>There were some errors:</h2>

        <ul>
          <% @enrollment.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
  <% end %>

  <%= f.label "Rating" %>
  <%= f.select :rating, [1,2,3,4,5] %>
  <br/>>
  <br/>>

   
     <%= @enrollment.course.title %><br/>
     <%= @enrollment.course.description %><br/>
     <%= @enrollment.course.category %><br/>
    
  <br/>
  <br/>
  <%= f.submit %>
<% end %>


