<h1> Enrollment Rating</h1>
<br/>
<br/>
<h2><%= @course.title %> </h2>

<br/>
<br/>

<%= form_for @enrollment, :url => course_enrollments_path(@course) do |e| %>

<% if @enrollment.errors.any? %>
    <div id="error_explanation">
      <h2>There were some errors:</h2>

      <ul>
        <% @enrollment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= e.hidden_field :course_id, value:  @course.id %>

  <%= e.label :rating %>
  <%= e.select :rating, [1,2,3,4,5] %>
  <%= e.submit  "Submit" %>
<% end %>


