<h1>Rating</h1>
<p></p>

<%= @course.title %> 


<%= form_for @enrollment do |e| %>
        <%= e.hidden_field :user_id %>
        <%= e.hidden_field :course_id %>
        <%= e.label :rating %>
        <%= e.number_field :rating %>
        <% = e.submit %>
<% end %>
