<h1>Enrollments#new</h1>
<p>Find me in app/views/enrollments/new.html.erb</p>


<%= form_for @enrollment do |e| %>
        <%= e.hidden_field :user_id %>
        <%= e.hidden_field :course_id %>
        <%= e.label :rating %>
        <%= e.number_field :rating %>
        <% = e.submit "Rate this Course" %>
<% end %>
