<h1>Rating</h1>
<p></p>

<%= @course.title %> 


<%= form_for @enrollment, :url => course_enrollments_path(@course) do |e| %>
        <%= e.hidden_field :user_id, value: current_user.id %>
        <%= e.hidden_field :course_id, value: @course.id %>
        <%= e.label :rating %>
        <%= e.number_field :rating %>
        <%= e.submit %>
<% end %>
