
<%= form_tag("/courses",  method: :get) do %>
 Course <%= text_field_tag :search %>
 <%= submit_tag 'Search', :name => nil %>
 <% end %>


<% @courses.order_by_category.each do |c| %> 

  <li><%= c.category %>
      <%= link_to c.title, course_path(c) %> 
    
  <% if current_user.courses.include?(c) %>
      <%= link_to user_enrollment(c).rating, edit_course_enrollment_path(c, user_enrollment(c)) %>
  <% end %>
      
  </li>
<% end  %>
</br>
</br>




  