<h1>New Course</h1>


  <%= form_for @course do |f| %>

  <% if @course.errors.any? %>
      <div id="error_explanation">
        <h2>There were some errors:</h2>

        <ul>
          <% @course.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
  <% end %>

      
  <%= f.label :title %><br>
  <%= f.text_field :title %>
  </br>

  
  <%= f.label :description %><br>
  <%= f.text_field :description %>
  </br>

  
  <%= f.label :category %><br>
  <%= f.text_field :category %>
  </br>

  <%= f.submit %><br>
<% end %>
