<h1>Courses#new</h1>


 <%= form_for @course do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :description %>
    <%= f.text_field :description %>

    <%= f.label :category %>
    <%= f.text_field :category %>

    <%= render :partial => 'enrollments/form' %>

  <%= f.submit "Submit" %>
<% end %>
