<h1>Courses#new</h1>

 <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </p>

  <p>
    <%= f.label :category %>
    <%= f.text_field :category %>
  </p>
  <%= f.submit %>
<% end %>
