<h1>New Course</h1>


 <%= form_for @course do |f| %>

 <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2>There were some errors:</h2>

      <ul>
        <% @course.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
    </div>
    </br>

    <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
    </div>
    </br>

    <div class="field">
    <%= f.label :category %><br>
    <%= f.select :category, ["Glass", "Jewelry"] %>
    </div>
    </br>

  <div class="actions">
  <%= f.submit %><br>
  </div>
<% end %>
